<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="writedatabean" class="gov.hhs.cms.prp.facadebeans.WriteDataBean"></bean>
    <bean id="checkloginbean" class="gov.hhs.cms.prp.facadebeans.CheckLoginBean"/>
    <bean id="getapplicationsbean" class="gov.hhs.cms.prp.facadebeans.GetApplicationsBean"/>
 </beans>