@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption {
	margin: 0;
	padding: 0;
	border: 0;
}

a img, :link img, :visited img {
	border: 0;
}
.skip {
	color: #013564;
	font-size: 4px;
}
table .prheader_tablelayout {

}
table.prheader_tablelayout tr {
	padding-top: 10px;
	padding-bottom: 10px;
}
table.prheader_tablelayout td {
	padding: 5px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
table th{text-align: left; background-color: #05295a; color: #ffffff;}

table td, th { padding-top: 5px;
	padding-left: 5px}
/*table styles*/
table.retiree_record {
	margin-top: 10px;	
}

table.platforms {

}

table.platforms label,  table.platforms input{
    float: left;
	padding-left: 5px;
	padding-right: 5px;	
}
.retiree_record {
	border:0.05em solid #3D61A6;
	width:95%;
}
caption {
	display: none;	
}
.odd {
	background:none repeat scroll 0 0 #FEF9EF;
}
.even {
	background:none repeat scroll 0 0 #DEE1E8;
}

table.retiree_record th {text-align: left; background-color: #05295a; color: #ffffff;}
table.retiree_record td, table.retiree_record th {padding: 2px; border:0.05em solid #3D61A6;}
/*end table styles*/
ol, ul {
	list-style: none;
}
body {
	background:url(../images/bg.png) left top repeat-x;
}

.fleft {
	float:left;
}
.fright {
	float:right;
}

#wrapper {
	width:100%;
	margin:0 auto;
}


#header_fixed{ 
    background: url(../images/bg.png) left top repeat-x;
    width: 100%;
    font:normal 11px/32px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: right;

    position: fixed;
    
}


#header .topbar {
	width:965px;
	float:left;
	font:normal 11px/32px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}
#header .topbar a {
	color:#FFFFFF;
	text-decoration:none;
}
#header .topbar a:hover {
	text-decoration:underline;
}
img.arrow {
	float:right;
	margin-left:8px;
	margin-top:6px;
}

#header .row-2 .logo {
	width:178px;
	height:55px;
	float:left;
	padding-left:30px;
}
#header .row-2 .search {
	float:right;
	display:inline;
}
#header .row-2 .search h1 {
	font:normal 14px/18px Arial, Helvetica, sans-serif;
	color:#666666;
}
#header .row-2 .search p {
	margin:7px 0px;
}
img.icon-search {
	float:left;
	margin-right:5px;
}
input {
	height:20px;

}
input.search-field {
	width:155px;
	height:18px;
	border-left:1px solid #404040;
	border-top:1px solid #404040;
	border-bottom:1px solid #d4d0c8;
	border-right:1px solid #d4d0c8;
}
input.go {
	float:right;
}
input.defects {
	width: 70px
}


#navcontainer #topnav ul li{
	background:url() left top repeat-x;
}
 #navcontainer #topnav li {
	float:left;
	display:inline;
	background:url(../images/nav-divider.gif) right 5px no-repeat;
	font:normal 12px/33px "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}
#navcontainer #topnav li a {
	color:#FFFFFF;
	text-decoration:none;
	padding:0px 18px;
	display:block;
}
#navcontainer #topnav li a:hover, #header #navcontainer #topnav li a.current {
	color:#003366;
	background:url(../images/nav-h.gif) left top repeat-x;
	
}
.displaytimer {
    float: right;
    padding-right: 15px;
}
.leftContent {
	width:97%;
	float:left;
	padding-left:12px;
}
.featured-content {
	width:727px;
	float:left;
	background:url(../images/featured-content-bg.gif) left top repeat-x #0b569f;
	padding:7px 0px 7px 18px;
	height: auto;
	display: block;
}

.featured-content h1 {
	color:#ccffff;
	float:left;
	margin-right:40px;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
	font-weight: bold;
	font-variant: normal;
}
.featured-content ul li {
	background:url(../images/arrow.png) left 5px no-repeat;
	padding-left:28px;
	font:normal 11px/16px Verdana, Arial, Helvetica, sans-serif;
	display:block;
}
.featured-content ul li a {
	color:#FFFFFF;
	text-decoration:none;
}
.featured-content ul li a:hover {
	text-decoration:underline;
}
span.date {
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	color:#ffcc66;
	font-style:italic;
}

#highlights-wrapper {
	display: block;
	position: relative;
	clear: left;/* background:url(../images/highlights-bg.jpg) left top repeat-x; */
}
.highlights {
	width:745px;
	min-height: 260px;
	float:left;
	background:url(../images/highlights-bg.jpg) left top repeat-x;
	padding-top:8px;
}
 @-moz-document url-prefix() {
 .highlights {
 display: block;
 clear:left;
}
}
#header .leftContent .highlights .img-part {
	width:328px;
	float:left;
	background:url(../images/highlights-heading-bg.gif) right 17px no-repeat;
}
.highlights .img-part .heading {
	width:310px;
	float:left;
	padding-left:18px;
	padding-top:8px;
	height:33px;
}
.highlights .img-part .heading img {
	float:left;
	margin-right:12px;
}
.highlights .img-part .heading h1 {
	width:264px;
	border-bottom:1px solid #efb842;
	font:normal 18px/25px "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	color:#666666;
	float:left;
}
.highlights .img-part .image {
	width:318px;
	float:left;
	background:url(../images/highlight-img-bg.png) left top no-repeat;
	height:202px;
	margin-left:1px;
	padding-left:9px;
	padding-top:5px;
}
.highlights .text-part {
	width:407px;
	float:left;
	padding-top:15px;
}
.print {
	width:107px;
	float:right;
	font:normal 12px/16px Arial, Helvetica, sans-serif;
}
.print img {
	float:left;
	margin-right:3px;
}
.print a {
	color:#0000a8;
	text-decoration:underline;
}
.print a:hover {
	text-decoration:none;
}
.printhome {
	width:107px;
	float:right;
	font:normal 12px/16px Arial, Helvetica, sans-serif;
	position: relative;
	display: block;
	height: 0;
	top: 23px;
	margin: 0px;
	right: 10px;
	z-index: 1000;
}
.printhome img {
	float:left;
	margin-right:3px;
}
.printhome a {
	color:#0000a8;
	text-decoration:underline;
}
.printhome a:hover {
	text-decoration:none;
}
.highlights .text-part .list {
	width:407px;
	float:left;
	padding-top:22px;
}
.highlights .text-part .list ul li {
	display:block;
	font:bold 12px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#660000;
	background:url(../images/small-arrow.png) 17px 18px no-repeat;
	padding:15px 0px 15px 45px;
}
.highlights .text-part .list ul li.big {
	font:bold 14px/17px Verdana, Arial, Helvetica, sans-serif;
	color:#660000;
	background:url(../images/big-arrow.png) 10px 18px no-repeat;
}
.highlights .text-part .list ul li a {
	font:normal 12px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#3366cc;
	text-decoration:underline;
}
.highlights .text-part .list ul li a:hover {
	text-decoration:none;
}
.highlights .text-part .list ul li p {
	margin-top:20px;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#666666;
}
.rightContent {
	width:234px;
	float:right;
	padding-right:12px;
}
.login {
	width:192px;
	height:36px;
	float:left;
	padding-left:40px;
	color:#003366;
	background:url(../images/login-bg.jpg) left top no-repeat;
	margin-bottom:5px;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 36px;
	font-weight: bold;
	font-variant: normal;
}        
.login a {
	color:#003366;
	text-decoration:none;
}
.login a:hover {
	text-decoration:underline;
}
.register {
	width:234px;
	float:left;
	background:url(../images/register-bg.jpg) left top no-repeat;
	height:48px;
	padding-top:20px;
	font:normal 14px/48px "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
}
.register a {
	color:#ffcc66;
	text-decoration:none;
}
.register a:hover {
	text-decoration:underline;
}
.contact {
	width:222px;
	float:left;
	background:url(../images/contact-bg.gif) left top repeat-x;
	padding-left:12px;
	padding-top:10px;
	font:bold 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
}
.contact img {
	float:left;
	margin-right:8px;
}
.contact h1 {
	color:#164d83;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 22px;
	font-weight: bold;
	font-variant: normal;
}
.contact p {
	margin:10px 0px;
}
.contact a {
	font:normal 12px/20px Verdana, Arial, Helvetica, sans-serif;
	color:#406bbe;
	text-decoration:none;
}
.contact a:hover {
	text-decoration:underline;
}
#grey-shadow {
	width:1008px;
	float:left;
	text-align:center;
}
#main {
	width:968px;
	float:left;
	padding:0px 20px;
}
.ticker {
	width:940px;
	float:left;
	border:1px solid #999999;
	font:bold 12px/33px Verdana, Arial, Helvetica, sans-serif;
	color:#006699;
	padding-left:14px;
}
.ticker h1 {
	color:#ff6600;
	float:left;
	margin-right:30px;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 33px;
	font-weight: bold;
	font-variant: normal;
}
.ticker img {
	float:left;
	margin-top:13px;
	margin-right:16px;
}
.col-content {
	width:968px;
	float:left;
	margin-top:10px;
	background:url(../images/col-bg.gif) left top repeat-y;
}
.col-content-texts {
	width:300px;
	float:left;
	margin-right:12px;
	display:inline;
	padding-left:10px;
}
.col-content-texts h1 {
	color:#164d83;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
}
.col-content-texts ul li {
	display:block;
	font:bold 12px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#660000;
	background:url(../images/small-arrow.png) 20px 18px no-repeat;
	padding:15px 0px 15px 45px;
}
.col-content-texts ul li span {
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#666666;
	font-style:italic;
}
.col-content-texts a {
	font:normal 12px/20px Verdana, Arial, Helvetica, sans-serif;
	color:#406bbe;
	text-decoration:none;
}
.col-content-texts a:hover {
	text-decoration:underline;
}
span.grey {
	color:#333333;
}
.event-calendar {
	width:266px;
	float:left;
	height:auto;
	margin-top:20px;
	padding-left:18px;
	padding-bottom: 25px;
	background-color: #597AB0;
	background-image: url(../images/calendar-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.event-calendar h2 {
	margin-left:20px;
	color:#0f3d71;
	margin-bottom:10px;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 32px;
	font-weight: bold;
	font-variant: normal;
}
.event-calendar img {
	margin-left:7px;
}
.event-calendar p {
	margin:5px 0px;
	font:normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}
img.icons {
	float:left;
	margin-right:8px;
}
img.orange-line { 
	margin-top:10px;
}
#footer_background{ 
    background: url(../images/bg2.png) left bottom repeat-x;
    width: 100%;
    font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 7px;
}
#footer_standard { 
	width:948px;
	float:left;
	background:url(../images/footer-bg.gif) left top no-repeat;
	height:98px;
	padding:0px 30px;
	margin-top:15px;
	text-align:center;
	font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
}
#footer_standard p {
	margin-top:30px;
}
#footer_standard a {
	color:#003399;
	text-decoration:none;
}
#footer_standard a:hover {
	text-decoration:underline;
}
img.hhs-logo {
	float:left;
	margin-top:15px;
}
img.us-logo {
	float:right;
	margin-top:28px;
}
acronym {
	border-bottom:1px dotted black;
	cursor:help;
}
.last-updated {
	margin-top: 50px;	
	font:italic 12px/18px Verdana, Arial, Helvetica, sans-serif;
	clear:both;
}
.announcement-date {
	font-weight: bold;	
}
/*inner page*/

#content {
	width:100%;
	float:left;
}
.content-part {
	width:720px;
	float:left;
	padding-left:25px;
	background:url(../images/leftPart-bg.gif) left top repeat-x;
	padding-top:24px;
}
.content-heading {
	width:680px;
	float:left;
	/*background:url(../images/inner-heading-bg.jpg) right top no-repeat;*/
}
.content-heading .fleft {
	width: 75%;	
}	
 h1 {
	font: bold 20px/29px Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	width: 98%;
	border-bottom-width: 1px;
	border-bottom-color: #eeb740;	
	border-bottom-style: solid;
	margin: 15px 0px 25px 10px;
}
.text-content {
	width:100%;
	float:left;
	font:normal 12px/18px Verdana, Arial, Helvetica, sans-serif;
	padding-left: 10px;
	padding-right:40px;
	min-height: 550px;
}
.text-content ul {
	list-style-type:circle;
	margin: 15px 0px 15px 35px;
}
.text-content ol {
	list-style-type:decimal;
	margin: 15px 0px 15px 35px;		
}
.text-content p {
	margin:15px 0px;
}
.text-content h2 {
	font: bold 16px/18px Verdana, Arial, Helvetica, sans-serif;
}
.text-content h3 {
	font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
	margin: 15px 0px 15px 0px;
}
.text-content blockquote {
	margin-left: 30px;	
}
.related-links {
	width:650px;
	float:left;
	background:url(../images/blue-bg.jpg) left top no-repeat;
	padding-top:20px;
}
.related-links h1 {
	font:normal 14px/32px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.related-links ul li {
	display:block;
	background:url(../images/small-arrow.png) 32px 13px no-repeat;
	font:normal 12px/15px Verdana, Arial, Helvetica, sans-serif;
	padding:10px 0px 10px 62px;
}
.related-links ul {
	list-style-type: none;	
}
.related-links ul li a {
	color:#3366cc;
	text-decoration:none;
}
.related-links ul li a:hover {
	text-decoration:underline;
}
.inner-calendar {
	width:234px;
	float:left;
	margin-top:0px;
}
.inner-calendar-heading {
	width:194px;
	float:left;
	background:url(../images/calendar-heading.jpg) left top no-repeat;
	padding-left:40px;
	font:normal 14px/32px "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	color:#0f3d71;
	height:37px;
}
.inner-calendar-bg {
	width:234px;
	float:left;
	background:url(../images/calendar-bg2.jpg) left top repeat-x #3d61a6;
	text-align:center;
	padding:15px 0px;
}
.inner-calendar-bg p {
	margin:10px 0px;
}
.register2 {
	width:234px;
	float:left;
	background:url(../images/register-bg2.jpg) left top no-repeat;
	height:48px;
	padding-top:20px;
	font:normal 14px/48px "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
}
.register2 a {
	color:#ffcc66;
	text-decoration:none;
}
.register2 a:hover {
	text-decoration:underline;
}
.register3 {
	width:234px;
	float:left;
	background:url(../images/register-bg3.jpg) left top no-repeat;
	height:67px;
}
.grey-shadow3 {
	width:234px;
	float:left;
	margin-top:1px;
}
.cig-image {
	margin-right: 15px;
	}	
/* --------------------------- JQUERY NEWS SLIDESHOW --------------------------- */

#slidenav {
	text-align:center;
	z-index:1600;
	line-height: 0px;
	top: 0px;
	width: 100%;
	margin: -2px;
	padding:0px;
	display: block;
	background-color: none;
}
#slidenav a {
	top: 251px;
	padding: 0 5px 0 5px;
	margin: 0 5px 0 5px;
	font-size: 12px;
	left: 46px;
	position: relative;
	z-index: 99999;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}
#tabs ul {}
#tabs .related-links ul li {
	background:url(../images/small-arrow.png) 0px 13px no-repeat;
	padding:10px 0px 10px 23px;
}

#slidenav a.activeSlide {
	color: #660000;
	background-color: #ffcc66;
}
 @-moz-document url-prefix() {
#slidenav {
position: relative;
clear: left;
}
}
 @-moz-document url-prefix() {
#slidenav a {
top: 249px;
}
}
/* TOP NAVIGATION START */
#topnav ul li:hover {
	background-color: #000000;
}
#topnav ul {
	/*float: left;*/
	position: relative;
	list-style-type: none;
	margin-left: 0px;
	z-index: 10;
}
#topnav li ul {
	position: absolute;
	left:-9999em;
	height:auto;
	display: block;
	width: 240px;
	font-size: 11px;
	text-align: left;
	background: #05295a;
	margin: 0px 0px 0px 0px;	
}
#topnav li ul li {
	width: 100%;
}
#topnav li li {
	text-align: left;
}

#topnav li ul a {
	/*width: 20em;*/
	text-align: left;	
}

#topnav li ul ul {
	margin: 1px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li.sfhover ul ul, #topnav li.sfhover ul ul ul {
	/*left: -9999em;*/
	margin-top: 50px;
}

#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li.sfhover ul, #topnav li li.sfhover ul, #topnav li li li.sfhover ul {
	left: auto;
}
#topnav li ul:hover {
	margin-top: 0px;
}
#topnav li ul li:hover, #topnav li ul li.sfhover {
	color: #0B3861;
	margin-top: 0px;
	width: 20em;
}
html > #topnav li ul a {
	font-size: 11px;
	text-align: left;
}

html > #topnav ul li a {
	font-size: 11px;
	text-align: left;
}
/* TOP NAVIGATION END */
.button{

}
ul.announcement-archive {
	list-style-type:none;
	margin-left: 0px;
	padding-left: 0px;
}
ul.announcement-archive li{
	background:url(../images/small-arrow.png) 20px 18px no-repeat;
	padding:15px 0px 0px 40px;	
}
ul.announcement-archive li span {
	
}
.prpsitename, .pagename {
	font-weight: bold;
	font-style: italic;
}
label {
    display: block;
    float: left;
    width: 125px;
	
}
label.peerReview{
    display:inline;
}

#MENUSIDE {
	width: 130px;
	float: left;
	background-color: #313b3f;
	border-right: solid 1px #151d21;
	overflow: hidden;
	position: relative;
}


/*.SubMenuLinkContainer {


	overflow: hidden;

	text-decoration-color: white;
}*/

.SubMenuLinkContainer {
	width: auto;

	overflow: hidden;
	background-color: #20282b;

}

.bordersOfMenuSide {
	border-top: solid 1px #404a4e;
}
.MenuSideMainLink {
	width: 100%;
	height: 45px;
	padding: 15px 0px 0px 27px;
	cursor: pointer;
}

.MainLinkText {
	color: #9ba5ac;
	font-size: 20px;
	display: block;
}


.SubMenuLink {

	display: inline-block;
	float: left;
	padding: 6px 20px;
	cursor: pointer;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #659eb3;
	font-size: 14px;
}


#container {
	width:100%;
	margin:0 auto;
}


#inner-wrapper {
	width:100%;
	float:left;
}

#header {
	width:100%;
	float:left;
}

#navcontainer {
	width:100%;
	float:left;
	padding-left:12px;
	padding-right:14px;
	height:38px;
}

#header .row-2 {
	width:100%;
	float:left;
	padding-top:49px;
	height:60px;
}


#navcontainer #topnav {
	width:100%;
	float:left;
	background:url(../images/nav-bg.gif) left top repeat-x;
	height:38px;
	padding-left:15px;
}

.SubMenuLink:hover{
	background-color:#101517;
	color:#8dc5d9;
}

/* TOP NAVIGATION END */